target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.git
.vscode/
.idea
README.md
.DS_Store
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.iws
*.iml
*.ipr
*.log
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/